#  CLIRAD CO2 B11 cosz1.0 ktable (181116)

### Input Parameter Options

    CO2 Band 10 (1000 - 4400)
    cosz = 1.0
    rsfc = 0.0
    vstar = 1000
    nband = 340
    nv = 10000
    dv = 0.001
    ng = 10 
    nref = 2
    p_refs = / 1, 10 /
    t_refs = / 250, 250 /
    ng_refs = / 5, 5 /  
    ng_adju = / 0, 0 /
    data wgt / 10*0.6 /
    option_klin = 1
    klin = 5.0e-24
    nl = 52
    nt = 5

### Note
    Work_SW_single_18-10-08.f
    All variables were changed real*8 type

In [3]:
import numpy as np
from pandas import *
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import IPython.display as display

pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)

path = '181109_k-table/'
fname = 'co2_b11_cz1.0_181116_'

### absmean

In [4]:
absmean = pd.read_table(path+'fort.881',header=None,sep="\s+",keep_default_na=False,index_col=[0],names=['ig','ip','t1','t2','t3','t4','t5'])
absmeanlog = pd.read_table(path+'fort.882',header=None,sep="\s+",keep_default_na=False,index_col=[0],names=['ig','ip','t1','t2','t3','t4','t5'])
ktable = pd.read_table(path+'fort.888',header=None,sep="\s+",keep_default_na=False,index_col=[0],names=['ig','ip','t1','t2','t3','t4','t5'])

In [5]:
## save absmean data to excel
sav = pd.DataFrame(absmean)
sav.to_csv(fname+"absmean.csv",header=True,index=True)
fn = fname+'absmean.csv'
sav.to_csv(fn)
html_download = '''
Download: <a href="./{fname}">{fname}</a>'''.format(fname=fn)
display.display(display.HTML(html_download))

### absmeanlog

In [6]:
## save absmean data to excel
sav = pd.DataFrame(absmeanlog)
sav.to_csv(fname+"absmeanlog.csv",header=True,index=True)
fn = fname+'absmeanlog.csv'
sav.to_csv(fn)
html_download = '''
Download: <a href="./{fname}">{fname}</a>'''.format(fname=fn)
display.display(display.HTML(html_download))

### ktable

In [7]:
## save absmean data to excel
sav = pd.DataFrame(ktable)
sav.to_csv(fname+"ktable.csv",header=True,index=True)
fn = fname+'ktable.csv'
sav.to_csv(fn)
html_download = '''
Download: <a href="./{fname}">{fname}</a>'''.format(fname=fn)
display.display(display.HTML(html_download))

### abscom, dg, ...

In [8]:
dgs = pd.read_table(path+'fort.19',header=None,sep="\s+",keep_default_na=False,index_col=[0],
                   names=['g','abscom(ig)','abscom(ig)/abscom(ig-1)','dg','dgs','dgs/tflux(1)','accu6th','dgs/rSolsum','pref'])
dgs

,abscom(ig),abscom(ig)/abscom(ig-1),dg,dgs,dgs/tflux(1),accu6th,dgs/rSolsum,pref
g,,,,,,,,
1,8.273820e-17,0.000000,0.000074,0.003107,0.000053,0.000053,0.000002,1.0
2,7.769250e-18,0.093902,0.000140,0.006316,0.000108,0.000161,0.000005,1.0
3,7.295460e-19,0.093902,0.000624,0.037109,0.000632,0.000793,0.000027,1.0
4,6.850560e-20,0.093902,0.001665,0.090181,0.001536,0.002329,0.000066,1.0
5,6.432790e-21,0.093902,0.004508,0.243375,0.004146,0.006475,0.000178,1.0
6,6.037830e-21,0.938602,0.010419,0.499138,0.008503,0.014977,0.000365,10.0
7,5.669920e-22,0.093907,0.021863,1.296133,0.022079,0.037056,0.000949,10.0
8,5.324440e-23,0.093907,0.038244,2.907144,0.049522,0.086578,0.002128,10.0
9,5.000000e-24,0.093907,0.039658,2.930231,0.049915,0.136493,0.002145,10.0
10,1.000000e-100,0.000000,0.882805,50.691764,0.863507,1.000000,0.037107,10.0

In [9]:
display.HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')